.content-container {
  padding: 32px;
}

.card {
  background: var(--card-bg);
  padding: 24px;
  margin-bottom: 28px;
  border-radius: var(--radius);
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

.card h2 {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
